<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="University Stores Contacts">
    <meta name="keywords" content="University, Contacts, Canteens, Bootstrap">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>University Stores Contacts</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>

<body>
<!-- Page Preloader -->
<div id="preloder">
    <div class="loader"></div>
</div>

<div th:replace="header :: header"></div>

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__text">
                    <h2>Canteen Contacts</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__links">
                    <a href="./homepage">Home</a>
                    <span>Contact</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<div class="container my-5">
    <div class="row" th:each="canteen : ${canteens}">
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title" th:text="${canteen.canteenName}">Canteen Name</h5>
                    <p class="card-text"><strong>Hours Opening:</strong> <span th:text="${canteen.openingHours}">Opening Hours</span></p>
                    <p class="card-text"><strong>Phone:</strong> <span th:text="${canteen.canteenPhone}">Email</span></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<div th:replace="footer :: footer"></div>

<!-- Js Plugins -->
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>

</html>
