<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Giỏ hàng của bạn</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h1>Giỏ hàng của bạn</h1>
<table>
    <thead>
    <tr>
        <th>Tên sản phẩm</th>
        <th>Số lượng</th>
        <th>Giá</th>
        <th>Ngày giao dịch</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="cartItem : ${cartItems}">
        <td th:text="${cartItem.food.foodName}">Tên sản phẩm</td>
        <td th:text="${cartItem.quantity}">Số lượng</td>
        <td th:text="${cartItem.price}">Giá</td>

    </tr>
    </tbody>
</table>
</body>
</html>
