<div class="row align-items-center">
    <div class="col-lg-4">
        <!-- Empty column to push the logo to the center -->
    </div>
    <div class="col-lg-4 text-center">
        <div class="header__logo">
            <a href="./homepage">Chợ cóc</a>
        </div>
    </div>
    <div class="col-lg-4 text-right">
        <div class="header__buttons">
            <a href="./login.html" class="btn btn-primary">Login</a>
            <a href="./register.html" class="btn btn-secondary">Register</a>
        </div>
    </div>
</div>