<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <title>Chợ Cóc</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/lightbox/css/lightbox.min.css" th:href="@{/lib/lightbox/css/lightbox.min.css}" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style_test.css" th:href="@{/css/style_test.css}" rel="stylesheet">

</head>
<body>
<footer>

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5">
        <div class="container py-5">
            <div class="pb-4 mb-4" style="border-bottom: 1px solid rgba(226, 175, 24, 0.5) ;">
                <div class="row g-4">
                    <div class="col-lg-3">
                        <a href="#">
                            <h1 class="text-primary mb-0">Chợ Cóc</h1>
                            <p class="text-secondary mb-0">Trường Đại Học FPT Hà Nội</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-item">
                        <h4 class="text-primary mb-0">Tại sao mọi người chọn chúng tôi!</h4>
                        <p class="mb-4 text-white">"Đặt món dễ dàng, nhận ngay tiện lợi - Trang web đặt hàng đồ ăn online của chúng tôi giúp bạn thưởng thức bữa ăn ngon mà không cần chờ đợi."</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-primary mb-0">Thông tin Cửa Hàng</h4>
                    <br>
                    <div class="d-flex flex-column text-start footer-item" th:each="canteen : ${session.canteens}">
                        <a class="btn-link" th:href="@{/canteen_info(canteenId=${canteen.canteenId})}" th:text="${canteen.canteenName}">My Account</a>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="d-flex flex-column text-start footer-item">
                        <h4 class="text-primary mb-0">Tài Khoản</h4>
                        <br>
                        <a class="btn-link" th:href="@{/view-profile/{userId}(userId=${user.userId})}" th:if="${user != null}">Tài khoản của tôi</a>
                        <a class="btn-link" th:href="@{/cart_items}" th:if="${user != null}">Giỏ hàng</a>
                        <a class="btn-link" th:href="@{/order-history}" th:if="${user != null}">Lịch sử đặt hàng</a>
                        <a class="btn-link" th:href="@{/login}" th:if="${user == null}">Đăng nhập</a>
                        <a class="btn-link" th:href="@{/register}" th:if="${user == null}">Đăng ký</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-item move-left">
                        <h4 class="text-primary mb-0">Liên Hệ</h4>
                        <br>
                        <p class="mb-4 text-white">Địa Chỉ: Trường Đại Học FPT Hà Nội</p>
                        <p class="mb-4 text-white">Email: dichvusinhvien@fe.edu.vn</p>
                        <p class="mb-4 text-white">Điện thoại: (024)7308.13.13</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-primary border-3 border-primary rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/easing/easing.min.js" th:src="@{/lib/easing/easing.min.js}"></script>
    <script src="/lib/waypoints/waypoints.min.js" th:src="@{/lib/waypoints/waypoints.min.js}"></script>
    <script src="/lib/lightbox/js/lightbox.min.js" th:src="@{/lib/lightbox/js/lightbox.min.js}"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js" th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>

    <!-- Template Javascript -->
    <script src="/js/main_test.js" th:src="@{/js/main_test.js}"></script>

</footer>
</body>