<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password - Croak Order</title>
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link th:href="@{/css/style_forgot.css}" rel="stylesheet">
</head>
<body>
<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
        <div class="card changePass-card">
            <div class="row no-gutters">
                <div class="col-md-5">
                    <img src="https://croakorder.s3.amazonaws.com/1720545449151-canteen.jpg" alt="Forgot Password" class="changePass-card-img">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <div class="brand-wrapper" style="text-align: center;">
                            <img src="/img/chococ.png" alt="logo" style="width: 75px; height: 95px; object-fit: contain;">
                        </div>
                        <p class="changePass-card-description">Đặt Lại Mật Khẩu</p>
<!--                        <h2>We will send an email to you</h2>-->
                        <form th:action="@{/forgot-password}" method="post">
                            <div th:if="${successMessage}" class="alert alert-success">
                                <span th:text="${successMessage}"></span>
                            </div>
                            <div id="error-message" th:if="${errorMessage}" class="alert alert-danger">
                                <span th:text="${errorMessage}"></span>
                            </div>
                            <div class="form-group">
                                <label for="email">Email: <span style="color: rgb(234, 77, 77);"> *</span></label>
                                <input type="email" name="email" id="email" class="form-control" placeholder="*****@email.com" autofocus="autofocus">
                            </div>
                            <div class="buttons mt-4">
                                <button type="submit" class="btn btn-block changePass-btn mb-4">Đăng Nhập</button>
                            </div>
                        </form>
                        <div class="buttons mt-2">
                            <a href="/login.html" class="btn btn-secondary btn-block">Quay lại Đăng Nhập</a>
                        </div>
                        <nav class="changePass-card-footer-nav mt-4">
                            <a href="#!">Terms of use.</a>
                            <a href="#!">Privacy policy</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>
