<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<form th:action="@{/login}" method="post">
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="username" required> <!-- Use name="username" -->
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
    <div th:if="${error}">
        <p th:text="${error}">Invalid email or password</p>
    </div>
</form>
</body>
</html>
