<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Croak Order - Đăng Nhập</title>
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link th:href="@{/css/style_login.css}" rel="stylesheet">
</head>
<body>
<main class="d-flex align-items-center min-vh-100 py-5 py-md-0">
    <div class="container-fluid">
        <div class="card login-card">
            <div class="row no-gutters">
                <div class="col-md-5">
                    <img src="img/canteen.jpg" alt="login" class="login-card-img">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <div class="brand-wrapper text-center">
                            <img src="/img/chococ.png" alt="logo" style="width: 75px; height: 95px; object-fit: contain;">
                        </div>
                        <p class="login-card-description">Đăng nhập</p>
                        <form th:action="@{/login}" method="post">
                            <div th:if="${successMessage}" class="alert alert-success">
                                <span th:text="${successMessage}"></span>
                            </div>
                            <div th:if="${errorMessage}" class="alert alert-danger">
                                <span th:text="${errorMessage}"></span>
                            </div>
                            <div th:if="${param.error}">
                                <div class="alert alert-danger">Tài khoản hoặc mật khẩu không hợp lệ.</div>
                            </div>
                            <div style="color: #058f10" th:if="${param.logout}">
                                <div class="alert alert-success">Đăng xuất thành công.</div>
                            </div>
                            <div class="form-group">
                                <label for="email">Email: <span style="color: rgb(234, 77, 77);"> (*)</span></label>
                                <input type="email" name="username" id="email" class="form-control" placeholder="*****@email.com" autofocus="autofocus">
                            </div>
                            <div class="form-group mb-4">
                                <label for="password">Mật Khẩu: <span style="color: rgb(234, 77, 77);"> (*)</span></label>
                                <input type="password" name="password" id="password" class="form-control" placeholder="***********">
                                <span toggle="#password" class="mdi mdi-eye toggle-password"></span>
                            </div>
                            <div class="remember-forgot d-flex justify-content-between">
                                <a class="forgot-password-link" th:href="@{/forgot-password}">Quên mật khẩu?</a>
                            </div>
                            <div class="buttons mt-4">
                                <button type="submit" class="btn btn-block login-btn mb-4">Đăng nhập</button>
                            </div>
                            <div class="d-flex justify-content-between">
                                <a th:href="@{/register}" class="btn btn-secondary flex-grow-1 mr-2">Đăng Ký</a>
                                <a th:href="@{/homepage}" class="btn btn-secondary flex-grow-1">Quay lại trang chủ</a>
                            </div>
                            <nav class="login-card-footer-nav mt-4 text-center">
                                <a th:href="@{/terms-of-service-and-privacy-policy}">Điều khoản sử dụng & Chính sách bảo mật.</a>
                            </nav>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        $(".toggle-password").click(function() {
            $(this).toggleClass("mdi-eye mdi-eye-off");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") === "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });
    });
</script>
</body>
</html>
