<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chỉnh sửa hồ sơ</title>
    <link th:href="@{/css/style-profile.css}" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

        .alert {
            padding: 20px;
            margin-bottom: 15px;
        }

        .alert-success {
            background-color: #4CAF50;
            color: white;
        }

        .alert-danger {
            background-color: #f44336;
            color: white;
        }
    </style>
</head>

<body>

<main>
    <div class="container">
        <aside>
            <div class="profile-section">
                <div class="profile-card">
                    <img th:src="${existingImage != null ? existingImage : (user?.userImage != null ? user.userImage : 'https://nie.res.netease.com/r/pic/20240630/5252c218-16db-458f-9aa5-baf7566225ea.png')}"
                         style="object-fit: cover;" alt="Avatar">
                    <div class="profile-info">
                        <h2 th:text="${user.fullName}"></h2>
                        <p th:text="${user.phone}"></p>
                    </div>
                </div>
            </div>

            <div class="nav-section">
                <nav>
                    <ul>
                        <li><a th:href="@{/homepage}"><i class="ri-home-2-line mr-3 text-lg"></i>Trang Chủ</a></li>
                        <li><a href="#"><i class="ri-file-list-3-line"></i> Đơn hàng của tôi</a></li>
                        <li><a th:href="@{/cart_items}"><i class="ri-shopping-cart-line"></i> Giỏ hàng của tôi</a></li>
                        <li><a th:href="@{/change-password}"><i class="ri-lock-password-line"></i> Đổi mật khẩu</a></li>
                        <li><a th:href="@{/logout}"><i class="ri-logout-box-r-line"></i> Đăng xuất</a></li>
                    </ul>
                </nav>
            </div>
        </aside>
        <section class="profile-edit">
            <h2>Thông tin cá nhân</h2>

            <div th:if="${successMessage}" class="alert alert-success" id="successAlert">
                <span th:text="${successMessage}"></span>
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            </div>
            <div th:if="${error != null}" class="alert alert-danger">
                <span th:text="${error}"></span>
            </div>

            <form th:action="@{/update-profile}" method="post" th:object="${user}" enctype="multipart/form-data">
                <input type="hidden" th:field="*{userId}"/>
                <div class="profile-avatar">
                    <img id="displayImage"
                         th:src="${existingImage != null ? existingImage : (user?.userImage != null ? user.userImage : 'https://nie.res.netease.com/r/pic/20240630/5252c218-16db-458f-9aa5-baf7566225ea.png')}"
                         style="object-fit: cover;" alt="Avatar">
                    <label class="btn-upload">
                        Thay Đổi Ảnh
                        <input type="file" id="image-upload" class="account-settings-fileinput"
                               accept="image/*, .png, .jpg, .jpeg" name="imageProfileInput"
                               onchange="onChangeFileTrigger()">
                    </label>
                </div>
                <div class="form-group">
                    <label for="name">Họ và tên</label>
                    <input type="text" id="name" th:field="*{fullName}" class="readonly-input" required readonly>
                </div>
                <div class="inline-group">
                    <div class="form-group">
                        <label for="codeName">Mã Sinh Viên</label>
                        <input type="text" id="codeName" th:field="*{codeName}"
                               class="readonly-input" required readonly>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" th:field="*{email}" class="readonly-input" required readonly>
                    </div>
                </div>
                <div class="inline-group">
                    <div class="form-group">
                        <label for="canteenPhone">Phone:</label>
                        <input type="text" id="canteenPhone" th:field="*{phone}" required class="form-control"/>
                        <div th:if="${phoneError != null}" class="error-message" th:text="${phoneError}"></div>
                    </div>
                    <div class="form-group">
                        <label for="gender">Giới tính</label>
                        <select id="gender" th:field="*{gender}">
                            <option value="true" th:selected="${user.gender == true}">Nam</option>
                            <option value="false" th:selected="${user.gender == false}">Nữ</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn">Cập nhật thông tin</button>
            </form>
        </section>
    </div>
</main>

<script>
    function onChangeFileTrigger() {
        const input = document.getElementById('image-upload');
        if (input && input.files && input.files[0]) {
            const reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById('displayImage').src = e.target.result;
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    // Hiển thị thông báo thành công trong 3 giây
    function hideAlert() {
        var alert = document.getElementById('successAlert');
        if (alert) {
            setTimeout(function () {
                alert.style.display = 'none';
            }, 3000);
        }
    }

    // Call the function to hide the alert
    window.onload = function () {
        hideAlert();
    }
</script>

</body>

</html>
