<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password - Croak Order</title>
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link th:href="@{/css/style_resetPassword.css}" rel="stylesheet">
    <script>
        function validateForm() {
            var password = document.getElementById("password").value;
            var errorMessage = document.getElementById("error-message");
            if (password.length < 6) {
                errorMessage.textContent = "Mật Khẩu phải dài ít nhất 6 ký tự.";
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
        <div class="card resetPass-card">
            <div class="row no-gutters">
                <div class="col-md-5">
                    <img src="/img/Canteen.jpg" alt="Reset Password" class="resetPass-card-img">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <div class="brand-wrapper" style="text-align: center;">
                            <img src="/img/chococ.png" alt="logo" style="width: 75px; height: 95px; object-fit: contain;">
                        </div>
                        <p class="resetPass-card-description">Đặt Lại Mật Khẩu</p>
<!--                        <h2>by SEP490 - G1</h2>-->
                        <form th:action="@{/reset-password}" method="post" onsubmit="return validateForm()">
                            <input type="hidden" name="token" th:value="${token}"/>
                            <div th:if="${errorMessage}" class="alert alert-danger">
                                <span th:text="${errorMessage}"></span>
                            </div>
                            <div class="form-group">
                                <label for="password" >Mật Khẩu mới: <span style="color: rgb(234, 77, 77);"> *</span></label>
                                <label for="password" class="sr-only">Nhập mật khẩu mới</label>
                                <input type="password" name="password" id="password" class="form-control" placeholder="***********" required>
                                <span toggle="#password" class="mdi mdi-eye toggle-password"></span>
                            </div>
                            <div class="buttons mt-4">

                                <button type="submit" class="btn btn-block resetPass-btn mb-4">Hoàn thành</button>
                            </div>

                        </form>
                        <div class="buttons mt-2">
                            <a href="/login.html" class="btn btn-secondary btn-block">Quay lại Đăng Nhập</a>
                        </div>
                        <br>
                        <nav class="resetPass-card-footer-nav">
                            <a href="#!">Terms of use.</a>
                            <a href="#!">Privacy policy</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        $(".toggle-password").click(function() {
            $(this).toggleClass("mdi-eye mdi-eye-off");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") === "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });
    });
</script>
</body>
</html>
