<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous"/>
  <link th:href="@{/css/style_login.css}" rel="stylesheet">
</head>
<body>
<div class="container">
  <div class="left">
    <h1>Reset Password</h1>
    <h2>by SEP490 - G1</h2>
    <form th:action="@{/reset-password}" method="post">
      <input type="hidden" name="token" th:value="${token}" />
      <div th:if="${errorMessage}" class="alert alert-danger">
        <span th:text="${errorMessage}"></span>
      </div>
      <label for="password">New Password<span style="color: rgb(234, 77, 77);"> *</span></label>
      <input type="password" id="password" name="password">
      <div class="buttons">
        <button type="submit" class="login-btn">Submit</button>
      </div>
    </form>
  </div>
  <div class="right">
    <img src="img/Canteen.jpg" alt="Description of the image">
  </div>
</div>
</body>
</html>
