<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html><!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <title>Reset Password</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Reset Password</h1>-->
<!--<form th:action="@{/reset-password}" method="post">-->
<!--  <input type="hidden" name="token" th:value="${token}" />-->
<!--  <div>-->
<!--    <label for="password">New Password:</label>-->
<!--    <input type="password" id="password" name="password" required />-->
<!--  </div>-->
<!--  <div>-->
<!--    <button type="submit">Submit</button>-->
<!--  </div>-->
<!--</form>-->
<!--<div th:if="${errorMessage}" style="color: red;">-->
<!--  <p th:text="${errorMessage}"></p>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Reset Password</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" th:href="@{/css/style-login.css}">
</head>
<body>
<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <!-- Optional: Add any header or introductory text here -->
    </div>
    <div class="row justify-content-center">
      <div class="col-md-7 col-lg-5">
        <div class="wrap">
          <div class="img" th:style="'background-image: url(' + @{/img/ww.png} + ');'"></div>
          <div class="login-wrap p-4 p-md-5">
            <div class="d-flex">
              <div class="w-100">
                <h3 class="mb-4">Reset Password</h3>
              </div>
            </div>
            <form th:action="@{/reset-password}" method="post" class="signin-form">
              <input type="hidden" name="token" th:value="${token}" />
              <div class="form-group mt-3">
                <input type="password" class="form-control" name="password" required>
                <label class="form-control-placeholder" >New Password</label>
              </div>
              <div class="form-group">
                <button type="submit" class="form-control btn btn-primary rounded submit px-3">Submit</button>
              </div>
              <div th:if="${errorMessage}" class="form-group">
                <p style="color: red;" th:text="${errorMessage}"></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>
