<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Sidebar Fragment</title>
</head>
<body>
<div th:fragment="sidebar-manage(canteenId)">
    <div class="fixed left-0 top-0 w-64 h-full bg-gray-900 p-4 z-50 sidebar-menu transition-transform">
        <a href="#" class="flex items-center pb-4 border-b border-b-gray-800">
            <img src="https://placehold.co/32x32" alt="" class="w-8 h-8 rounded object-cover">
            <span class="text-lg font-bold text-white ml-3">Logo</span>
        </a>
        <ul class="mt-4">
            <li class="mb-1 group active">
                <a th:href="@{/homepage}"
                   class="flex items-center py-2 px-4 text-gray-300 hover:bg-gray-950 hover:text-gray-100 rounded-md group-[.active]:bg-gray-800 group-[.active]:text-white group-[.selected]:bg-gray-950 group-[.selected]:text-gray-100">
                    <i class="ri-home-2-line mr-3 text-lg"></i>
                    <span class="text-sm">HomePage</span>
                </a>
            </li>
            <li class="mb-1 group active">
                <a th:href="@{/manage-staff(canteenId=${canteenId})}"
                   class="flex items-center py-2 px-4 text-gray-300 hover:bg-gray-950 hover:text-gray-100 rounded-md group-[.active]:bg-gray-800 group-[.active]:text-white group-[.selected]:bg-gray-950 group-[.selected]:text-gray-100">
                    <i class="ri-archive-2-line mr-3 text-lg"></i>
                    <span class="text-sm">Manage Staff</span>
                </a>
            </li>
            <li class="mb-1 group active">
                <a th:href="@{/canteen/edit-profile-canteen/{canteenId}(canteenId=${canteenId})}"
                   class="flex items-center py-2 px-4 text-gray-300 hover:bg-gray-950 hover:text-gray-100 rounded-md group-[.active]:bg-gray-800 group-[.active]:text-white group-[.selected]:bg-gray-950 group-[.selected]:text-gray-100">
                    <i class="ri-archive-2-line mr-3 text-lg"></i>
                    <span class="text-sm">Edit Profile Canteen</span>
                </a>
            </li>

            <li class="mb-1 group active">
                <a th:href="@{/manage-food(canteenId=${canteenId})}"
                   class="flex items-center py-2 px-4 text-gray-300 hover:bg-gray-950 hover:text-gray-100 rounded-md group-[.active]:bg-gray-800 group-[.active]:text-white group-[.selected]:bg-gray-950 group-[.selected]:text-gray-100">
                    <i class="ri-archive-2-line mr-3 text-lg"></i>
                    <span class="text-sm">Manage Food</span>
                </a>
            </li>

            <li class="mb-1 group active">
                <a th:href="@{/manage-category(canteenId=${canteenId})}"
                   class="flex items-center py-2 px-4 text-gray-300 hover:bg-gray-950 hover:text-gray-100 rounded-md group-[.active]:bg-gray-800 group-[.active]:text-white group-[.selected]:bg-gray-950 group-[.selected]:text-gray-100">
                    <i class="ri-archive-2-line mr-3 text-lg"></i>
                    <span class="text-sm">Manage Category</span>
                </a>
            </li>
            <li class="mb-1 group active">
                <a th:href="@{/logout}"
                   class="flex items-center py-2 px-4 text-gray-300 hover:bg-gray-950 hover:text-gray-100 rounded-md group-[.active]:bg-gray-800 group-[.active]:text-white group-[.selected]:bg-gray-950 group-[.selected]:text-gray-100">
                    <i class="ri-logout-box-line mr-3 text-lg"></i>
                    <span class="text-sm">Logout</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="fixed top-0 left-0 w-full h-full bg-black/50 z-40 md:hidden sidebar-overlay"></div>
</div>
</body>
</html>