<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Checkout</title>

    <style>
        .list-group-item {
            display: flex;
            align-items: center;
        }

        .product-details {
            flex-grow: 1;
        }

        .quantity {
            min-width: 50px; /* Đảm bảo khoảng trống cố định cho số lượng */
            text-align: center; /* Căn giữa số lượng */
        }

        .total-price {
            min-width: 80px; /* Đảm bảo khoảng trống cố định cho tổng giá */
            text-align: right; /* Căn phải tổng giá */
        }
    </style>


    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">


<!--    &lt;!&ndash; Libraries Stylesheet &ndash;&gt;-->
<!--    <link th:href="@{/lib/lightbox/css/lightbox.min.css}" rel="stylesheet">-->
<!--    <link th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">-->

<!--    &lt;!&ndash; Customized Bootstrap Stylesheet &ndash;&gt;-->
<!--    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">-->

<!--    &lt;!&ndash; Template Stylesheet &ndash;&gt;-->
<!--    <link th:href="@{/css/style_test.css}" rel="stylesheet">-->

        <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.0/examples/checkout/form-validation.css" rel="stylesheet">
</head>
<body>

<!-- Page Preloder -->
<!--<div id="preloder">-->
<!--    <div class="loader"></div>-->
<!--</div>-->

<!--<div th:replace="header :: header"></div>-->
<div class="bg-light">
    <div class="container">
        <div class="py-5 text-center">
            <h2>Checkout form</h2>
        </div>

        <div class="row">
            <div class="col-md-4 order-md-2 mb-4">

                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Your cart</span>
                    <span class="badge badge-secondary badge-pill" th:text="${totalQuantity}">0</span>
                </h4>
                <ul class="list-group mb-3">
                    <!-- Example item, loop through actual items -->
                    <li class="list-group-item d-flex align-items-center" th:each="cartItem : ${cartItems}">
                        <div class="product-details flex-grow-1">
                            <h6 class="my-0"><span th:text="${cartItem.food.foodName}"></span></h6>
                            <small class="text-muted">Price: $<span th:text="${cartItem.food.price}"></span></small>
                        </div>
                        <div class="quantity mx-3">
                            <span class="text-muted" th:text="${cartItem.quantity}"></span>
                        </div>
                        <div class="total-price">
                            <span class="text-muted">$<span th:text="${cartItem.totalFoodPrice}"></span></span>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total (USD)</span>
                        <strong th:text="${totalOrderPrice}">$20</strong>
                    </li>
                </ul>


            </div>
            <div class="col-md-8 order-md-1">
                <h4 class="mb-3">Billing address</h4>
                <form class="needs-validation" th:action="@{/checkout}" method="post" novalidate>
                    <div class="mb-3">
                        <label for="email">Name <span class="text-muted">(Optional)</span></label>
                        <input type="email" class="form-control" id="" placeholder="you@example.com" th:value="${user.fullName}" readonly >
                        <div class="invalid-feedback">
                            Please enter a valid email address for shipping updates.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="email">Email <span class="text-muted">(Optional)</span></label>
                        <input type="email" class="form-control" id="email" placeholder="you@example.com" th:value="${user.email}" readonly>
                        <div class="invalid-feedback">
                            Please enter a valid email address for shipping updates.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="address">Số Điện Thoại</label>
                        <input type="text" class="form-control" id="address" placeholder="1234 Main St" th:value="${user.phone}" readonly>
                        <div class="invalid-feedback">
                            Please enter your shipping address.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="address2">Địa chỉ nhận hàng <span class="text-muted">(Optional)</span></label>
                        <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
                    </div>


                    <hr class="mb-4">

                    <h4 class="mb-3">Payment</h4>

                    <div class="d-block my-3">
                        <div class="custom-control custom-radio">
                            <input id="credit" name="paymentMethod" type="radio" class="custom-control-input"
                                   value="creditCard" checked required>
                            <label class="custom-control-label" for="credit">VN Pay</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input id="debit" name="paymentMethod" type="radio" class="custom-control-input"
                                   value="debitCard" required>
                            <label class="custom-control-label" for="debit">Tiền mặt</label>
                        </div>

                    </div>

                    <h4 class="mb-3">Ship</h4>

                    <div class="d-block my-3">
                        <div class="custom-control custom-radio">
                            <input id="credit" name="paymentMethod" type="radio" class="custom-control-input"
                                   value="creditCard" checked required>
                            <label class="custom-control-label" for="credit">Nhận tại quầy</label>
                        </div>


                    </div>

                    <hr class="mb-4">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
                </form>
            </div>
        </div>

        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">&copy; 2017-2021 Company Name</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Privacy</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Support</a></li>
            </ul>
        </footer>
    </div>
</div>
<!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7aboO6U9tT+GIH9WENao2wA2biG8qkGs1F5W7XgsRAK/FivB"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGaYkG6VoZtTXsg9cXGpq0GaW"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="form-validation.js"></script>
</body>
</html>
