<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add New Canteen</title>
  <link th:href="@{/css/manager-user.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
  <div th:replace="navigation :: navigation"></div>
  <div class="main">
    <h2>Add New Canteen</h2>
    <form th:action="@{/add-canteen}" th:object="${canteen}" method="post">
      <label for="canteenName">Canteen Name:</label>
      <input type="text" id="canteenName" th:field="*{canteenName}" required>
      <label for="location">Location:</label>
      <input type="text" id="location" th:field="*{location}">
      <label for="canteenPhone">Phone:</label>
      <input type="text" id="canteenPhone" th:field="*{canteenPhone}">
      <label for="openingHours">Opening Hours:</label>
      <input type="text" id="openingHours" th:field="*{openingHours}">
      <label for="manager">Manager:</label>
      <select id="manager" th:field="*{user.userId}">
        <option th:each="manager : ${managers}" th:value="${manager.userId}" th:text="${manager.fullName}"></option>
      </select>
      <button type="submit">Add Canteen</button>
    </form>
  </div>
</div>
</body>
</html>
